body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f6f8;
    color: #333;
}

header {
    background-image: url('image/carte.jfif');
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 61%;

    background-color: rgba(0, 0, 0, 0.783); /* noir avec opacité */
    /* rgba = couleur + opacité */
}



header h1 {
      font-size: 80px;
      position: relative;
    z-index: 1;

}

header p {
     position: relative;
     bottom: 30px;
     position: relative;
    z-index: 1;
}
   
   

img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: relative;
    z-index: 1;
  
}

section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

h2 {
    color: #0a4d68;
}

ul {
    list-style: square;
}

.project {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 4px solid #0a4d68;
}

footer {
    text-align: center;
    padding: 15px;
    background: #ddd;
}
